In [33]:
# 1. Importar librer√≠as
import pandas as pd
import numpy as np

# 2. Cargar dataset base
df = pd.read_csv("../data/processed/dataset_part_2.csv")
print("Dimensiones iniciales:", df.shape)
df.head()

Dimensiones iniciales: (195, 18)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,6,2010-06-04,NaN,NaN,LEO,CCSFS SLC 40,False None,1,False,False,False,NaN,NaN,NaN,5e9e289ef359185f2b3b2628,-80.577366,28.561857,0
1,7,2010-12-08,NaN,NaN,LEO,CCSFS SLC 40,False None,1,False,False,False,NaN,NaN,NaN,5e9e289ef35918187c3b2629,-80.577366,28.561857,0
2,8,2012-05-22,NaN,525.0,LEO,CCSFS SLC 40,False None,1,False,False,False,NaN,NaN,NaN,5e9e289ef35918f39c3b262a,-80.577366,28.561857,0
3,9,2012-10-08,NaN,400.0,ISS,CCSFS SLC 40,False None,1,False,False,False,NaN,NaN,NaN,5e9e289ff3591821a73b262b,-80.577366,28.561857,0
4,10,2013-03-01,NaN,677.0,ISS,CCSFS SLC 40,False None,1,False,False,False,NaN,NaN,NaN,5e9e289ff3591884e03b262c,-80.577366,28.561857,0

In [34]:
# 3. Seleccionar columnas relevantes
cols = [
    "FlightNumber", "PayloadMass", "Orbit", "LaunchSite",
    "GridFins", "Reused", "Legs", "Class"
]
df = df[cols]
print("Columnas seleccionadas:", df.columns.tolist())

Columnas seleccionadas: ['FlightNumber', 'PayloadMass', 'Orbit', 'LaunchSite', 'GridFins', 'Reused', 'Legs', 'Class']

In [35]:
# 4. Renombrar columnas a nombres claros
df = df.rename(columns={
    "FlightNumber": "flight",
    "PayloadMass": "payload",
    "Orbit": "orbit",
    "LaunchSite": "site",
    "GridFins": "gridfins",
    "Reused": "reused",
    "Legs": "legs",
    "Class": "success"
})
df.head()

   flight  payload orbit          site gridfins reused   legs  success
0       6      NaN   LEO  CCSFS SLC 40    False  False  False        0
1       7      NaN   LEO  CCSFS SLC 40    False  False  False        0
2       8    525.0   LEO  CCSFS SLC 40    False  False  False        0
3       9    400.0   ISS  CCSFS SLC 40    False  False  False        0
4      10    677.0   ISS  CCSFS SLC 40    False  False  False        0

In [36]:
# 5. Manejo de valores nulos
df["payload"] = df["payload"].fillna(df["payload"].median())
df[["gridfins", "reused", "legs"]] = df[["gridfins", "reused", "legs"]].fillna(False).astype(bool)
df["orbit"] = df["orbit"].fillna("Unknown").replace("", "Unknown")
df["site"]  = df["site"].fillna("Unknown").replace("", "Unknown")

# ‚úÖ Verificaci√≥n de limpieza
print("Valores √∫nicos en orbit:", df["orbit"].unique())
print("N√∫mero de NaN en orbit:", df["orbit"].isna().sum())
print("Filas con NaN en orbit:\n", df[df["orbit"].isna()])
# ‚úÖ Verificaci√≥n de limpieza en SITE
print("Valores √∫nicos en site:", df["site"].unique())
print("N√∫mero de NaN en site:", df["site"].isna().sum())
print("Filas con NaN en site:\n", df[df["site"].isna()])

Valores √∫nicos en orbit: ['LEO' 'ISS' 'PO' 'GTO' 'ES-L1' 'SSO' 'HEO' 'MEO' 'VLEO' 'SO' 'GEO'
 'Unknown' 'TLI']
N√∫mero de NaN en orbit: 0
Filas con NaN en orbit:
 Empty DataFrame
Columns: [flight, payload, orbit, site, gridfins, reused, legs, success]
Index: []
Valores √∫nicos en site: ['CCSFS SLC 40' 'VAFB SLC 4E' 'KSC LC 39A']
N√∫mero de NaN en site: 0
Filas con NaN en site:
 Empty DataFrame
Columns: [flight, payload, orbit, site, gridfins, reused, legs, success]
Index: []

C:\Users\erroc\AppData\Local\Temp\ipykernel_1576\3200860274.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[["gridfins", "reused", "legs"]] = df[["gridfins", "reused", "legs"]].fillna(False).astype(bool)

In [37]:
# 6. Verificaci√≥n final
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   flight    195 non-null    int64
 1   payload   195 non-null    float64
 2   orbit     195 non-null    object
 3   site      195 non-null    object
 4   gridfins  195 non-null    bool
 5   reused    195 non-null    bool
 6   legs      195 non-null    bool
 7   success   195 non-null    int64
dtypes: bool(3), float64(1), int64(2), object(2)
memory usage: 8.3+ KB

   flight  payload orbit          site  gridfins  reused   legs  success
0       6   6500.0   LEO  CCSFS SLC 40     False   False  False        0
1       7   6500.0   LEO  CCSFS SLC 40     False   False  False        0
2       8    525.0   LEO  CCSFS SLC 40     False   False  False        0
3       9    400.0   ISS  CCSFS SLC 40     False   False  False        0
4      10    677.0   ISS  CCSFS SLC 40     False   False  False        0

In [38]:
# 7. Guardar dataset limpio
output_path = "../data/processed/clean_dataset.csv"
df.to_csv(output_path, index=False)
print(f"‚úÖ Dataset limpio guardado en {output_path}")

‚úÖ Dataset limpio guardado en ../data/processed/clean_dataset.csv